body {
    background-color:  #333333;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;900&display=swap');
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: #49e404;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    padding: 15px;
    border: 3px solid #49e404;
    border-radius: 10px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    /*text-transform: capitalize; capitalize deixa todas as primeiras letras maiusculas*/
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
}

a:link {
    color: #49e404;
   }
   
a:hover {
    color: black;
   }

a:visited {
    color: green;
   }

.contact_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact_list li a {
    text-decoration: none;
}